<footer class="footer">
  <small>
    <a href="#">Webpage</a>
    by Prabha
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.nytimes.com/">News</a></li>
    </ul>
  </nav>
</footer>